<div class="container">

  <div class="card top" *ngIf="mostrarTarjetaGuardar">

    <div class="card-header">
      <h1 class="titulo">Persona</h1>
    </div>
    <div class="card-body ">
      <form [formGroup]="registerForm">

        <div class="row">
          <div class="form-group col-md-6">
            <label for="mail">mail</label>
            <input formControlName="mail" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" id="mail" type="text"
              class="form-control">
            <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
              <div *ngIf="f.mail.errors.required">Requerido</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="nombre">nombre</label>
            <input formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" id="nombre"
              type="text" class="form-control">
            <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
              <div *ngIf="f.nombre.errors.required">Requerido</div>
            </div>
          </div>

          <div class="form-group col-md-6 ">
            <label for="telefono">telefono</label>
            <input formControlName="telefono" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" id="telefono"
              type="text" class="form-control">
            <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
              <div *ngIf="f.telefono.errors.required">Requerido</div>
            </div>
          </div>

        </div>


        <div class="row">

          <div class="form-group col-md-6">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input form-control" formControlName="conDireccion"
                id="conDireccion" (ngModelChange)="cambioConDireccion($event)">
              <label class="custom-control-label" for="conDireccion">Agregar Direccion</label>
            </div>
          </div>
        </div>





        <div class="row" *ngIf="mostrarCamposDireccion">
          <div class="form-group col-md-6">
            <label for="calle">calle</label>
            <input formControlName="calle" [ngClass]="{ 'is-invalid': submitted && f.calle.errors }" id="calle"
              type="text" class="form-control">
            <div *ngIf="submitted && f.calle.errors" class="invalid-feedback">
              <div *ngIf="f.calle.errors.required">Requerido</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="ciudad">ciudad</label>
            <input formControlName="ciudad" [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }" id="ciudad"
              type="text" class="form-control">
            <div *ngIf="submitted && f.ciudad.errors" class="invalid-feedback">
              <div *ngIf="f.ciudad.errors.required">Requerido</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="codigoPostal">Codigo Postal</label>
            <input formControlName="codigoPostal" id="codigoPostal" type="text" class="form-control">
          </div>

          <div class="form-group col-md-6">
            <label for="estado">estado</label>
            <input formControlName="estado" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }" id="estado"
              type="text" class="form-control">
            <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
              <div *ngIf="f.estado.errors.required">Requerido</div>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="pais">pais</label>
            <input formControlName="pais" [ngClass]="{ 'is-invalid': submitted && f.pais.errors }" id="pais" type="text"
              class="form-control">
            <div *ngIf="submitted && f.pais.errors" class="invalid-feedback">
              <div *ngIf="f.pais.errors.required">Requerido</div>
            </div>
          </div>

        </div>

        <div class="card-footer" style="text-align: center; width: 100%;">
          <button class="btn btn-danger " (click)="guardarPersona( $event )">Guardar</button>
          <button class="btn btn-danger " (click)="cancelarGuardado( )">Cancelar</button>
        </div>


      </form>
    </div>
  </div>

  <div class="card top" *ngIf="!mostrarTarjetaGuardar">

    <div class="car-header">
      <h1 class="titulos">Personas</h1>
      <button class="btn btn-primary right" (click)="agregarPersona();"><i class="material-icons">add</i></button>
    </div>
    <div class="card-body center">

      <table class="table table-hover table-responsive table-condensed ">

        <thead>
          <th>codigo</th>
          <th>mail</th>
          <th>nombre</th>
          <th>telefono</th>
          <th>direccion</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </thead>
        <tbody>

          <tr class="text-center" *ngFor="let persona of listaPersonas">

            <td>{{persona.codigo}}</td>
            <td>{{persona.mail}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.telefono}}</td>
            <td>
              <div *ngIf="persona.direccionTO != null">
                {{persona.direccionTO.codigo}}/
                {{persona.direccionTO.calle}}/
                {{persona.direccionTO.ciudad}}/
                {{persona.direccionTO.codigoPostal}}/
                {{persona.direccionTO.estado}}/
                {{persona.direccionTO.pais}}
              </div>
            </td>
            <td> <button class="btn btn-warning" (click)="personaSeleccionar($event, persona, 'editar');"><i
                  class="material-icons">edit</i></button></td>
            <td> <button class="btn btn-danger" (click)="personaSeleccionar($event, persona, 'eliminar');"><i
                  class="material-icons"> delete_forever</i></button> </td>

          </tr>

        </tbody>
      </table>

    </div>

  </div>

</div>