<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="rectangle">
    <h1>{{ title }}!</h1>
  </div>
</div>

<div class="container">
  <nav class="nav nav-pills flex-column flex-sm-row">
  </nav>
</div>
<router-outlet></router-outlet>